@import '~@core/scss/base/pages/page-auth.scss';
.brand-logo {
  svg {
    height: 28px;
    width: 40.95px;
  }
}
html[dir='rtl'] {
  svg.feather {
    transform: rotate(180deg);
  }
}

a{
  color: #279ae7;
}

.synapsis-logo{
  text-align:center;
}

.synapsis-logo img{
  width:190px;
}

.welcome-msg{
  margin-top:30px;
  color:#000;
  font-weight: 600;
  font-size:17px;
}

p.note{
  margin-top:-10px;
}


[dir] .auth-wrapper .auth-bg {
  -webkit-box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.06);
  -moz-box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.06);
  box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.06);
  border-radius: 5px;
  padding-top:20px;
  position: relative;
  max-width:350px !important;
  z-index: 999;
}

@media only screen and (max-width: 768px) {
  [dir] .auth-wrapper .auth-bg {
    max-width: 100% !important;
  }
}

@media only screen and (min-width: 769px) {
  [dir] .auth-wrapper .auth-bg {
    max-width: 350px !important;
  }
}

.log-box{
  padding: 3em !important;
  padding-top: 4em !important;
}